@import 'fonts'

*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-family: 'Roboto', sans-serif

@import 'interface'
@import 'block/promo'
@import 'block/waiting'
@import 'block/optimization'
@import 'block/finish'
@import 'block/present'
@import 'block/premier'
@import 'block/footer'
